body{
    background-color: rgb(223, 214, 214) !important;
}
.primary{
    background-color:rgb(85, 176, 202);
}
.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)) , url(../img/smartHomeManager.png);
    background-size: cover;
    color: white;
}
.mycard{
    padding:20px;
    background-color: white;
    
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

@media only screen and (max-width:600px){
  .sidebar{
    display: none;
  width:50% !important;
  background-color:white;
  height: 100vh;
  position: fixed;
  padding-top: 20px;
    z-index: 9999999999999999999999999;
    }

.content{
  margin-left: 5% !important;
  margin-bottom: 5%;


}

}

.sidebar{
  width: 18%;
  background-color:white;
  height: 100%;
  position: fixed;
  padding-top: 45px;

}
.sidebar a{
  display: block;
  width: 100%;
  padding: 10px 25px;
  text-decoration: none;
  color: gray;
}

.sidebar a:hover{
  background-color:  rgb(223, 214, 214);
}
.sidebar .devider{
  height: .5px;
  width: 100%;
  background-color:  rgb(223, 214, 214);
}
.sidebar .crossbtn{
  position: absolute;
  top: 0%;
  right: 35px;
  font-size: x-large;
  cursor: pointer;
}

.content{
   margin-left: 20%;
   margin-bottom: 5%;
}


.card-table{
  background-color:white;
}

.contact_profile_img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/* search css */
.search-container {
  position: relative;
    
}
.search-result {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    display: none;
}

.active{
  background-color: rgb(85, 176, 202) !important;
  color: white !important;
}