<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is About Page</title>
</head>
<body >

    <section>
        <div class="container mt-5">
            
                <div class="col-md-6 offset-md-3 mt-3">

                    <div class="mycard mt-5">
                         <div th:if="${session.message}" class="container text-center">
                        <div th:classappend="${session.message.type}" class="alert alert-success" role="alert">
                            <span  th:text="${session.message.content}"></span>
                        </div>
                        </div>
                                                   
                   <div class="container-fluid">

                    <div class="container mt-3" style="max-width: 500px;">
                        <h3 class="mb-4 text-center">Change Password</h3>

                        <form th:action="@{/change-password}" method="post">

                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" id="newPassword" name="newPassword" class="form-control" required minlength="3">
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword">Confirm New Password</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required minlength="3">
                            </div>
    
                            <a href="#" th:href="@{/user/user-settings}" class="btn btn-warning mt-3">Back</a>
                            <button type="submit" class="btn btn-primary mt-3 ml-2">Update Password</button>
                            <button type="reset" class="btn btn-danger mt-3 ml-2">Reset</button>
                            
                           </form>

                           
                    </div>

                </div>       
    
    </section>
    
</body>
</html>